<form action="/practice" method="post">
  <p>Number of Decks in Shoe:<input name="counter[decks]" value="1"/></p>
  <p>Deal Between: <input name="counter[min]" value="1" size="1"/> and <input name="counter[max]" value="3" size="1" /> cards per hand.</p>
  <p>Deal cards every: <input name="counter[delay]" value="5" size="1"/> seconds.</p>
  <input name="commit" type="submit" value="Start" />
</form>
